@import url('_popup/element__delete_popup_active.css');

.element__delete {
    position: absolute;
    top: 18px;
    right: 18px;
    height: 19px;
    width: 18px;
    background-image: url('../../../images/trash-can.svg');
    background-repeat: none;
    object-fit: cover;
    outline: none;
    border: none;
    background-color: transparent;
}

.element__delete:hover {
    opacity: 0.6;
}