.profile__add-button-small {
    margin: 0 0 0 auto;
    height: 50px;
    max-width: 150px;
    width: 100%;
    background-image: url('../../../images/add-button-small.svg');
    border: none;
    background-color: black;
    outline: none;
}

.profile__add-button-small:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .profile__add-button-small {
        display: none;
    }
}