.element__image_popup_active {
    display: block;
    z-index: 3;
    position: fixed !important;
    left: 10%;
    top: 15%;
    max-width: 75vw;
    max-height: 75vh;
    height: 100% !important;
}