.profile__add-button-large {
    display: none;
    width: 100%;
    height: 50px;
    background-image: url('../../../images/add-button-large.svg');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: black;
    outline: none;
}

.profile__add-button-large:hover {
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
    .profile__add-button-large {
        display: block;
        margin: 36px auto 0;
        max-width: 282px;
        width: 100%;
    }
}