@import url('__image/element__image.css');
@import url('__like-button/element__like-button.css');
@import url('__title-container/element__title-container.css');
@import url('__title/element__title.css');
@import url('__delete/element__delete.css');
@import url('__like-container/element__like-container.css');
@import url('__like-counter/element__like-counter.css');

.element {
    max-width: 282px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}