.form__save-button_disabled {
    background-image: url('../../../../images/button-background-disabled.png');
    color: black;
    opacity: .6;
}

.form__save-button_disabled:hover {
    opacity: .6;
}